<div class="footer">
    <p><span class="emphasis">© Copyright:</span> Télésport 2023</p>
    <p><span class="emphasis">Credits:</span> background image by <a href="{{environment.externalLinks.bryanTurner}}" target="_blank">Bryan Turner</a> from <a href="{{environment.externalLinks.unsplash}}" target="_blank">Unsplash</a>.</p>
    <p>Made with <span class="crimson"><mat-icon>favorite</mat-icon></span> by <a href="{{environment.externalLinks.popysid}}" target="_blank">Popysid</a> with <span class="emphasis">Angular 15</span></p>
</div>

<!-- background image by <a href="{{environment.externalLinks.alessandroVenturi}}">Alessandro Venturi</a> from <a href="{{environment.externalLinks.unsplash}}">Unsplash</a>.
  -->