@import url('../../../styles-common.scss');

.footer {
    width: calc(100% - 8em);
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    padding: 1.5em 4em 2.5em;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #1A2361;
    color: #454f92;
    a {
        text-decoration: none;
        color: #7982c0;
        font-weight: bold;
        &:hover {
            color: white;
        }
    }
}

.crimson {
    color: rgb(196, 81, 104);
    line-height: 5px;
    font-size: 16px;
}

.emphasis {
    color: #7982c0;
    font-weight: bold;
}