<div id="dashboard">
  <div id="dashboard_header">
    <p>{{ countryName | uppercase }}</p>
    <a class="button" routerLink="/">Back To Dashboard</a>
  </div>
  <div id="header_datas">
    <div class="result_datas">
      <p class="result_title">Number of Entries</p>
      <p class="result">{{ entriesCount }}</p>
    </div>
    <div class="result_datas">
      <p class="result_title">Total Number Medals</p>
      <p class="result">{{ medalsCount }}</p>
    </div>
    <div class="result_datas">
      <p class="result_title">Total Number of Athletes</p>
      <p class="result">{{ athletesCount }}</p>
    </div>
  </div>
<div id="dashboard_chart">
  <ngx-charts-line-chart class="ngx-charts"
                         (window:resize)="onResize($event)"
                         [view]="view"
                        [results]="datas"
                        [legend]="showLegend"
                         [animations]="false"
                         [autoScale]="autoScale"
                         [showXAxisLabel]="showXAxisLabel"
                         [showYAxisLabel]="showYAxisLabel"
                         [xAxis]="xAxis"
                         [yAxis]="yAxis"
                         [xAxisLabel]="xAxisLabel"
                         [yAxisLabel]="yAxisLabel"
                         [timeline]="timeline"
  >
  </ngx-charts-line-chart>
</div>
</div>
