a {
  background-color: #04838F;
  padding: 10px;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 5px;
}

::ng-deep .ngx-charts {
  text {
    font-size: 1.2rem;
    font-weight: lighter;
  }
}



