/* Import variables from 'variables.scss' */
@import 'variables';

/* Style for the statistic card */
.statistic-card {
    text-align: center;
    border: 2px solid $primary-color;
    padding: 10px;
    border-radius: $border-radius;
    line-height: 2em;
    margin-left: 50px;
    color: #8c8c8c;
}
