
<div class="container">
  <div class="card title">
      <p>{{ countryName }}</p>
  </div>
</div>
<div class="container">
  <div class="card subtitle">
      <p>Number of entries<br><span style="font-weight: bold;">{{ countryEntries }}</span></p>
  </div>
  <div class="card subtitle">
    <p>Total number medals<br><span style="font-weight: bold;">{{ countryMedalsCount }}</span></p>
  </div>
  <div class="card subtitle">
    <p>Total number of athletes<br><span style="font-weight: bold;">{{ countryAthletesCount }}</span></p>
  </div>
</div>

<div #containerRef class="container">
  <ngx-charts-line-chart
    [view]="[700, 300]"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="data"
    >
  </ngx-charts-line-chart>
</div>

<div class="container">
  <!-- <button (click)="onContinue()">Go back</button> -->
  <a routerLink="">Go back</a>
</div>


