.loader {
    border: 11px solid #f3f3f3;
    border-radius: 50%;
    border-top: 11px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.country {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: system-ui;
    width: fit-content;
    margin: auto;
    &__detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5rem;

        &__info {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            align-items: center;

            &__title {
                width: fit-content;
                padding: 0 20px;
                background-color: #04838f;
                border-radius: 1rem;

                &__name {
                    color: white;
                    text-align: center;
                }
            }

            &__numbers {
                display: flex;
                flex-direction: row;
                column-gap: 2rem;

                &__text {
                    display: flex;
                    flex-direction: column;
                    border: 2px solid #04838F;
                    border-radius: 1rem;
                    padding: 2px 7px;

                    &__title {
                        color: grey;
                        margin: 6px 0;
                    }

                    &__value {
                        text-align: center;
                        margin: 6px 0;
                    }
                }
            }
        }
    }
}