<ng-container *ngIf="!isLoading && isValidCountry">
    <!-- Display a chart back button and the title component with dynamic title -->
    <div class="chart-back">
        <button class="arrow-back" (click)="onRetourClick()"></button>
        <app-title [title]="elementSelectionne"></app-title>
    </div>
    <!-- Display statistic cards for entries, total number of medals, and total number of athletes -->
    <div class="statistic-cards">
        <app-statistic-card title="Number of entries"
            [value]="entriesMedalsAthletesResult.entries"></app-statistic-card>
        <app-statistic-card title="Total number medals"
            [value]="entriesMedalsAthletesResult.medals"></app-statistic-card>
        <app-statistic-card title="Total number of athletes"
            [value]="entriesMedalsAthletesResult.athletes"></app-statistic-card>
    </div>
    <!-- Display a line chart with a dynamic title -->
    <div class="container-line">
        <app-line-chart [title]="elementSelectionne"></app-line-chart>
    </div>
</ng-container>
<!-- Conditionally display the Not Found component if isValidCountry is false -->
<app-not-found *ngIf="!isLoading && !isValidCountry"></app-not-found>