<br><br><br>

<div style="width: 900px;margin: auto;">

  <p class="title">Name of the country</p>

  <div class="total-jo-country" >
    <p>
      Number of entries<br>
      <span>??</span>
    </p>
    <p>
      Total number medals<br>
      <span>??</span>
    </p>
    <p>
      Total number of athletes<br>
      <span>??</span>
    </p>
  </div>

  <div class="ngx-charts-pie">
    <ngx-charts-line-chart
    [scheme]="colorScheme"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [timeline]="timeline"
    [results]="ngxChartsData"
  
    >
    </ngx-charts-line-chart>
  
    <button (click)="onViewFaceSnap()">Back</button>
  </div>
</div>