<button (click)="goBackDashbord()" class="button-back">
  <i-bs 
    name="arrow-bar-left"
    width="14px" 
    height="14px"
  ></i-bs>
  Back to Dashboard
</button>
<div class="ngx-charts-pie">
  <p class="title">{{ countryName }}</p>
  <div class="total-jo-country" >
    <p>
      Number of entries<br>
      <span>{{ numberOfEntries }}</span>
    </p>
    <p>
      Total number medals<br>
      <span>{{ totalNumberMedals }}</span>
    </p>
    <p>
      Total number of athletes<br>
      <span>{{ totalNumberOfAthletes }}</span>
    </p>
  </div>
  <div class="div-container-ngx-charts">
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [timeline]="timeline"
      [results]="ngxChartsData"
    >
    </ngx-charts-line-chart>
  </div>
</div>