.body {
  display: flex;
  justify-content: center;
}

/*********** CSS for Ngx Charts **************/

::ng-deep .ngx-charts {
    text{
        font-size: 15px;
        white-space : wrap;
        display: flex!important;
        width: 300px;
    }
}

::ng-deep .ngx-charts-tooltip-content.type-tooltip {
  background-color: #2D909F !important;
  color: white !important;
  .tooltip-caret.position-top {
      color: white !important;
      border-top: 7px solid #2D909F !important;
    }
}

/*********** END CSS for Ngx Charts **************/
