<div class="main" *ngIf="tabChartOlympics">
  <div class="titleMedalPerCounty">
    <h2>Medals per Country</h2>
  </div>
  <div class="informationJo">
    <div class="informationFrame">
      <p>
        Number of JOs
        <span>{{ numberOfJO }}</span>
      </p>
    </div>
    <div class="informationFrame">
      <p>
        Number of Countries
        <span *ngIf="tabChartOlympics">{{ tabChartOlympics.length }}</span>
      </p>
    </div>
  </div>
  <ngx-charts-pie-chart
    (window:resize)="onResize($event)"
    [view]="view"
    [scheme]="colorScheme"
    [results]="tabChartOlympics"
    [labels]="showLabels"
    [labelFormatting]="myLabelFormatter"
    (select)="onSelect($event)"
  >
  </ngx-charts-pie-chart>
</div>
<div *ngIf="!tabChartOlympics">Loading ...</div>
