@use 'sass:color';
@use 'sass:list';
@use 'sass:math';



$start: red;
$end: blue;

@function gradient($space, $stops: 20) {
    $stops-list: (
        $start 0%
    );

@for $i from 1 through $stops {
    $percentage: math.div(100% * $i, ($stops + 1));
    $color: color.mix($start, $end, $percentage);
    $stops-list: list.join($stops-list, ($color $percentage));
}

@return linear-gradient($space, $stops-list);
}

// $color: color-mix(in $space, $start, $end);

// .gradient {
//     width: 100%;
//     height: 100px;
//     color: white;
//     font-family: sans-serif;
//     font-weight: bold;
//     padding: 10px;
//     box-sizing: border-box;
//     margin-bottom: 5px;

//     @each $space in srgb,
//     srgb-linear,
//     xyz-d50,
//     xyz-d65,
//     lab,
//     lch,
//     oklab,
//     oklch {

//         // &.#{$space}
//         {
//             background: gradient($space, 20);
//         }
//     }
// }


// Rem to Pixel Conversion
@function rem-to-px($rem) {
    $base-font-size: 16px; // Adjust this to your base font size
    @return $rem * $base-font-size;
}

// Pixel to Rem Conversion
@function px-to-rem($px) {
    $base-font-size: 16px; // Adjust this to your base font size
    @return $px / $base-font-size * 1rem;
}

// Em to Pixel Conversion
@function em-to-px($em, $base-font-size: 16px) {
    @return $em * $base-font-size;
}

// Pixel to Em Conversion
@function px-to-em($px, $base-font-size: 16px) {
    @return $px / $base-font-size;
}

// Aspect Ratio Calculation
@function aspect-ratio($width, $height) {
    @return percentage($height / $width);
}

// Random Color Generator
@function random-color() {
    @return rgb(random(255), random(255), random(255));
}