#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin : 1vw;
    padding: 1vw;
    border : solid 3px  #04838f;
    border-radius: 0.5rem;
    width :fit-content;
    position: relative;
}

#info {
    color: rgba(41, 39, 39, 0.555);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    margin-bottom: 0vw;
    margin-top : 0.2vw;
}

#value {
    color : black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    margin-top : 0;
    margin-bottom: 0vw;
}

@media screen and (max-width: 768px) {
    #info {
        font-size: 4vw;
        margin-bottom: 0vw;
        margin-top : 0.2vw;
    }
    
    #value {
        font-size: 4vw;
        margin-top : 0;
        margin-bottom: 0vw;
    }
}