#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin : 1rem;
    padding: 0.5rem;
    border : solid 3px  #04838f;
    border-radius: 0.5rem;
    width :fit-content;
    position: relative;
}

#info {
    color: rgba(73, 70, 70, 0.555);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top : 0.5rem;
}

#value {
    color : black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-top : 0;
    margin-bottom: 0.3rem;
}