.counterLabel {
  display: inline-block;
  border: solid rgb(34, 102, 91);
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: x-large;
  border-radius: 15px;
}

.number {
  font-weight: bold;
}
