h2 {
    text-align: center;
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col {
    flex: 1;
    padding: 15px;
  }
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  