header {
  max-width: 38em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 3em;
}

a {
  max-width: 38em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 5px;
  padding: 5px 15px;
  width: fit-content;
  border-radius: 10px;
  color: white;
  background-color: #04838f;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
}
#link-container {
  text-align: center;
}
::ng-deep .ngx-charts {
  text {
    font-size: 0.9em !important;
  }
}
::ng-deep ngx-tooltip-content {
  background-color: #04838f !important;
  margin-top: 4em;
  font-size: 1.3em !important;
  font-weight: bold !important;
}

::ng-deep body > app-root > ngx-tooltip-content > div > span {
  border-top: 7px solid #04838f !important;
}
h3 {
  font-weight: 100;
  color: #666666;
}

#date {
  font-size: 2.5em;
  text-align: center;
  margin-top: 0.8em;
}

#charts {
  width: 40em;
  margin: auto;
}
////////////////////////////////////////////
@media screen and (max-width: 681px) {
  .svg {
    left: 22.5%;
  }
}

/* Point de rupture 2 - Largeur d'écran > 681px et <= 1040px */
@media screen and (min-width: 682px) and (max-width: 1100px) {
  .svg {
    left: 28%;
  }
}

/* Point de rupture 3 - Largeur d'écran > 1040px et <= 1400px */
@media screen and (min-width: 1101px) and (max-width: 1400px) {
  .svg {
    left: 23%;
  }
}

@media screen and (min-width: 1041px) and (max-width: 2400px) {
  .svg {
    left: 38% !important;
  }
}

@media screen and (max-width: 580px) {
  .count {
    font-size: 10px;
  }
  h1 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1400px) {
  #charts {
    width: 80em;
  }
}

@media screen and (min-width: 1040px) {
  #charts {
    width: 60em;
  }
}

@media screen and (max-width: 680px) {
  #charts {
    width: 20em;
  }
}

///////////////////////////svg/////////////
