<div class="center">
  <h2><mat-icon>warning</mat-icon>{{wording.page.notFound.warning}}</h2>
  <div class="rounded">
    <img src="../../../assets/images/gratisography-140H-free-stock-photo.jpg" alt="Starting blocks athlete">
    <p><a href="https://gratisography.com/photo/hover-board/" target="_blank">Photo</a> courtesy of <a href="https://gratisography.com" target="_blank">Gratisography</a></p>
    <div class="absolute"></div>
  </div>
  <a class="back-button" routerLink="">{{wording.page.notFound.back}}</a>
</div>
