.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#link-container {
  text-align: center;
}

a {
  max-width: 38em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 5px;
  padding: 5px 15px;
  width: fit-content;
  border-radius: 10px;
  color: white;
  background-color: #04838f;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
}
