@import '../../../styles.scss';

.header-container {
    padding: 0 12px;
    background-color: $main-color;
    height: 100%;
    display: flex;
    align-items: center;
    * {
        color: white;
        text-decoration: none;
    }
    .heading-container {
        display: flex;
        flex: 1;
        justify-content: center;
    }
}
