@use "../../../../utils/sass-utils/index" as *;

.header {

    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 25px;

    padding: 15px;

    border-bottom: 2px solid currentColor;

    @include mobile-only {
        @include center-flex-column(15px);
    }

    &__title {
        text-wrap: balance;
        text-align: center;

        &--wide-screen {
            @include mobile-only {
                display: none;
            }
        }
    }

    &__image-container {
        background-color: var(--semi-transparent-bg);
        padding: 10px;
        border-radius: 100vmax;

        min-width: 180px;
        max-width: 215px;

        @include mobile-only {
            order: 1;
        }
    }


}