.homeTitle {
  text-align: center;
  display: inline-block;
  background-color: rgb(34, 102, 91);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  color: white;
  margin-top: 15px;
  font-size: x-large;
}

.homeBlock {
  text-align: center;
  margin: auto;
  max-width: 100%;
  margin-bottom: 20px;
}

@media screen and (max-width: 490px) {
  .homeBlock {
    margin-left: 30px;
    min-width: 350px;
    zoom: 50%;
  }
}
