a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: white;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
  }
  
  a:focus {
    border-bottom: 1px solid;
    text-decoration: none;
  }
  
  a:hover {
    border-bottom: 1px solid;
    text-decoration: none;
   // background: white;
  }
  
  a:active {
    color:white;
    text-decoration: none;
  }