<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(50, 50)">
        <circle r="40" fill="transparent" stroke="currentColor" stroke-width="6" stroke-dasharray="251"
            stroke-dashoffset="502" stroke-linecap="round">
            <animateTransform attributeName="transform" type="rotate" from="0 0 0" to="360 0 0" dur="2.5s"
                repeatCount="indefinite" />
            <animate attributeName="stroke-dashoffset" dur="2s" values="500;250;" repeatCount="indefinite" />
            <animate attributeName="stroke-dasharray" values="250;500;" dur="2s" repeatCount="indefinite" />
        </circle>
    </g>
</svg>