.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 1.5em 4em 0.5em;
}

.small {
    background-color: blue;
    height: calc(100px - 2em);
}

.medium {
    background-color: green;
    height: calc(75px - 2em);
}

.large {
    background-color: red;
    height: calc(75px - 2em);
}

.title, .description {
    width: 200px;
}

.logo {
    img {
        height: auto;
        border-radius: 1em;
        cursor: pointer;
        &:hover {
            background-color: crimson;
        }
    }
}

.smallLogo {
    width: 96px;
    img {
        width: 96px;
    }
}

.fullLogo {
    width: 200px;
    img {
        width: 200px;
    }
}

.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: crimson;
}

.description {
    text-align: left;
    font-size: 0.9em;
    color: darkgray;
    line-height: 0.9em;
}