<div [ngClass]="header" >
    <div [ngClass]="logo"><a routerLink="">
        <img *ngIf="!isMobile" src="../../../assets/images/telesport-logo-200-noir.png" alt="Logo Télésport">
        <img *ngIf="isMobile" src="../../../assets/images/telesport-logo-38-noir.png" alt="Logo Télésport">
    </a></div>
    <div class="title">{{wording.title}}</div>
    <div class="description" *ngIf="!isMobile">
        {{wording.page.home.descriptionStart}}<br>
        {{wording.page.home.descriptionEnd}}
    </div>
</div>
