.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 1.5em 4em 0.5em;
    position: relative;
    z-index: 2;
}

.logo, .title, .description {
    width: 200px;
}

.logo {
    img {
        width: 200px;
        height: auto;
        border-radius: 1em;
        cursor: pointer;
        &:hover {
            background-color: crimson;
        }
    }
}

.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: crimson;
}

.description {
    text-align: left;
    font-size: 0.9em;
    color: darkgray;
    line-height: 0.9em;
}