header {
  max-width: 40em;
  margin: auto;
  margin-top: 2em;
}

h1 {
  margin: auto;
  padding: 5px 15px;
  width: fit-content;
  margin-bottom: 1em;
  border-radius: 10px;
  color: white;
  background-color: hwb(186 27% 48%);
  font-weight: 100;
  letter-spacing: 2px;
}

h3 {
  font-weight: 100;
  color: #666666;
}

#count {
  display: flex;
  justify-content: center;
  margin-left: 2em;
}

.count1 {
  margin-right: 3.5em;
}

.count {
  padding: 8px 14px;
  border: 2px solid hwb(174 31% 41%);
  border-radius: 10px;
  text-align: center;
  font-weight: 100;
}

p {
  font-weight: 900;
  font-size: large;
}

#charts {
  height: 40em;
}

.red-tooltip {
  background-color: hwb(186 27% 48%);
  padding: 7px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2em;
}

#tooltip h3 {
  color: white !important;
  padding: 0.3em;
}

@media screen and (max-width: 640px) {
  #charts {
    height: 30em;
  }
}

@media screen and (max-width: 540px) {
  #charts {
    height: 20em;
  }
}
