/* Import variables from 'variables.scss' */
@import 'variables';

/* Apply styles to the host element */
:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Apply styles to elements with class 'statistic-cards' */
.statistic-cards {
    display: flex;
}

/* Apply styles to elements with class 'container-line' */
.container-line {
    width: 100%;
    height: 100%;
}
