.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menudemoBasicUsage .md-menu-demo {
  padding: 24px;
}
.menudemoBasicUsage .menu-demo-container {
  min-height: 200px;
}

.box {
  // display: flex;
  justify-content: center;
  // margin-top: 30px;
}

.box-center {
  height: 60px;
  background-color: #008890;
  color: white;
  font-weight: 500;
  font-size: 22px;
  // width: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50px;
  border: 1 solid black;
}
.box-side-left {
  flex-direction: column;
  height: 100px;
  color: gray;
  font-weight: 500;
  font-size: 22px;
  //width: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  border: 2 solid;
  //margin-right: 30px;
  border-style: solid;
  border-color: #008890;
  //  float: right;
  // clear: both;
  div {
    margin: 7px;
  }
}
.box-side-rigth {
  flex-direction: column;
  height: 100px;
  color: gray;
  font-weight: 500;
  font-size: 22px;
  //width: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  border: 2 solid;
  //margin-left: 30px;
  border-style: solid;
  border-color: #008890;
  div {
    margin: 7px;
  }
}
