<app-statistic-card-list
    [titleCard]="stats.titleCard"
    [statisticCards]="stats.statisticCards">
</app-statistic-card-list>
<div #containerRef class="chart">
  <ngx-charts-pie-chart
    [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
    [results]="dataChart"
    [labels]="true"
    [trimLabels]="false"
    (select)="onSelect($event)"
    >
    <!-- custom tooltip -->
    <ng-template #tooltipTemplate let-model="model">
      <div class="tooltip">
        <span>{{ model.name }}</span>
        <br>
        <span>🎖{{ model.value }}</span>
      </div>
    </ng-template>
  </ngx-charts-pie-chart>
</div>
