.loader {
    border: 11px solid #f3f3f3;
    border-radius: 50%;
    border-top: 11px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: system-ui;
    align-items: center;
    margin: auto;
    &__dashboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5rem;
        margin: auto;
        &__details {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            align-items: center;
            &__medals {
                background-color: #04838f;
                border-radius: 1rem;
                width: fit-content;
                padding: 0 20px;

                &__title {
                    color: white;
                    text-align: center;
                }
            }

            &__data {
                display: flex;
                &__text {
                    display: flex;
                    flex-direction: column;
                    border: 2px solid #04838F;
                    border-radius: 1rem;
                    padding: 2px 7px;

                    &__title {
                        text-align: center;
                        color: grey;
                        margin: 6px 0;
                    }

                    &__value {
                        text-align: center;
                        margin: 6px 0;
                    }
                }
            }
        }

        &__pie {
            &__tooltip {
                font-family: system-ui;
                font-weight: 300;
                margin: 0;
                padding: 0;
                &__wrap{
                    background-color: #04838F;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                }
                &__name{
                    margin: 3px;
                    font-size: 22px;
                    font-family: system-ui;
                }
                &__pre {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin: 5px 0;
                    &__icon-img {
                        width: 30px;
                        height: 30px;
                    }
                    &__value{
                        font-size: 22px;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.desktop_dashboard{
    width: 85%;
}

.tablet_dashboard{
    width: 80%;
}

.phone_dashboard{
    width: 95%;
}

.desktop_data,.tablet_data{
    flex-direction: row;
    column-gap: 2rem;
}

.phone_data{
    row-gap: 1rem;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: center;
}
