<app-header></app-header>
<main>
  <hr />
  <div class="containerMedalsPerCountry">
    <h1>Medals per Country</h1>
    <div class="dataOutPieChart">
      <div class="containerNumberOfJos">
        <p class="textDataOutPieChart">Number of JOs</p>
        <p class="countDataOutPieChart">{{(totalGames)}}</p>
      </div>
      <div class="containerNumberOfJos">
        <p class="textDataOutPieChart">Number of countries</p>
        <p class="countDataOutPieChart">{{(olympics$ | async)?.length}}</p>
      </div>
    </div>
    <app-piechart [data]="(chartValues$ | async) ?? []"></app-piechart>
  </div>
</main>