<div class="main" *ngIf="tabDataOlympicParticipations">
  <div class="titleMedalPerCounty">
    <h2>{{ country }}</h2>
  </div>
  <ng-template #error>
    <p>{{ errorMessage }}</p>
  </ng-template>
  <div class="informationJo" *ngIf="!errorMessage; else error">
    <div class="informationFrame">
      <p>
        Number of entries <span>{{ numOfEntries }}</span>
      </p>
    </div>
    <div class="informationFrame">
      <p>
        Total number medals <span>{{ numOfMedals }}</span>
      </p>
    </div>
    <div class="informationFrame">
      <p>
        Total number of athletes<span>{{ numOfAthletes }}</span>
      </p>
    </div>
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [animations]="animations"
      [results]="tabDataOlympicParticipations"
      (window:resize)="onResize($event)"
    >
    </ngx-charts-line-chart>
  </div>
  <p
    (click)="onClick()"
    [ngStyle]="{
      cursor: 'pointer',
      fontSize: '33px',
      color: '#06818f',
      fontWeight: 'bold'
    }"
  >
    &larr; Back
  </p>
</div>
<div *ngIf="!tabDataOlympicParticipations">Loading ...</div>
