.container{
  width: 100%;
  height: 100%;
}

.top-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding-top: 10px;
}

.tag-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.left-arrow {
  padding: 5px;
  cursor: pointer;
}
