nav {
  position: relative;
  width: 100%;
  height: auto;
  background: #04848c;
}

nav a {
  color: #fff;
  font-family: "Corbel", sans-serif;
  font-weight: bold;
  font-size: 1.2vw;
  text-decoration: none;
  margin: 0 1em;
}

@media screen and (max-width: 600px) {
  nav {
    position: relative;
    width: 100%;
    height: auto;
    background: #04848c;
  }
  nav a {
    color: #fff;
    font-family: "Corbel", sans-serif;
    font-weight: bold;
    font-size: 3vw;
    text-decoration: none;
    margin: 0 1em;
  }
}
