@use "../../../utils/sass-utils/index.scss" as *;

.info-card {
    border: 2px solid var(--bg-tertiary);
    border-radius: 10px;

    padding: 10px;

    text-align: center;

    &__title {
        font-family: "OlympicsSans-Regular";
        font-weight: normal;

        text-transform: capitalize;
    }


    &__value {
        font-family: "OlympicHeadline-Regular";
        font-weight: bold;
        //
    }

}