 .ngx-charts-tooltip-content.type-tooltip {
    background-color: #2D909F !important;
    color: white !important; 
    .tooltip-caret.position-top { //la couleur du triangle sur le tooltip
        color: white !important;
        border-top: 7px solid #2D909F !important;
      }
  }

