.page-container {
    position: relative;
    z-index: 2;
}

.small-page-container {
    height: calc(100% - 183px);
}

.medium-page-container, .large-page-container {
    height: calc(100% - 155px);
}

.statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-statistics {
    flex-direction: column;
    width: calc(100% - 1em);
    padding: 0.5em 0.5em;
}

.medium-statistics {
    width: calc(100% - 4em);
    padding: 1em 2em;
}

.large-statistics {
    width: calc(100% - 16em);
    padding: 1em 8em;
}

.page-title {
    padding: 0.5em 2em;
    margin: 1em 0 0;
    background-color: #1A2361;
    border: 1px solid white;
    border-radius: 1em;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.small-page-title {
    padding: 0.5em;
    width: 90%;
    text-align: center;
    margin: 0.2em 0;
}

.medium-page-title {
    margin: 0.8em 0 0;
}

.large-page-title {
    margin: 1.2em 0 0;
}

.statistics-content {
    padding: 0.5em 2em;
    background-color: rgba(250, 250, 255, 0.8);
    border: 1px solid #1A2361;
    border-radius: 1em;
    color: #1A2361;
}

.small-stat-content {
    padding: 0.5em;
    width: 90%;
    text-align: center;
    margin: 0.2em 0;
    order:1
}

.medium-stat-content {
    margin: 0.8em 0 0;
}

.large-stat-content {
    margin: 1.2em 0 0;
}

.statistics-span {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.back-button {
    display: block;
    width: fit-content;
    padding: 0.5em 2em;
    margin: 1em auto;
    background-color: #1A2361;
    border: 1px solid white;
    border-radius: 1em;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      background-color: #122ac6;
    }
  }

.mat-icon {
    vertical-align: middle;
} 
