
html,
body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

app-root {
  height: 100%;
  width: 100%;
}

.bold-text {
  font-weight: 700;
  color: black
}


