/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.main-container{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto !important;
  width: 100% !important;

  .home-title {
    margin-top: 80px ;
    background-color: #088395;
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    color: white;
  }

  .cards-numbers {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .card {
      border: #088395 3px solid;
      border-radius: 10px;
      display: inline-block;
      text-align: center;
      padding: 0px 5px;
      align-items: center;
      margin: 20px;
    }

    p{
      margin: 10px;
    }
  }

  a {
    color: #088395;
    text-decoration: none;
    font-size: medium;
    background-color: white;
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    border: #088395 1px solid;
    &:hover {
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      font-weight: bold;
      }
  }
}

/* Responsive*/
  @media only screen and (max-width: 400px){
    .main-container {
      .cards-numbers {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        .card {
          border: #088395 3px solid;
          border-radius: 10px;
          display: inline-block;
          text-align: center;
          padding: 0px 5px;
          align-items: center;
          margin: 20px;
        }
    }
  }
}
// CSS of pie chart
.pie-label{
  font-size: 0.8rem !important;
  font-weight: bold !important;
}

.ngx-charts-tooltip-content.type-tooltip {
  background-color: #088395 !important ;
  color: white !important;
  font-size: 0.9rem !important;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  padding: 15px!important;
}

.tooltip-icon-container {
  justify-content: center !important;
  display: flex;
  align-items: center;
}

.tooltip-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
