/* You can add global styles to this file, and also import other style files */
ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    .tooltip-caret.position-top {
      border-top-color: #04838F;
    }

    .tooltip-caret.position-right {
      border-right-color: #04838F;
    }
     
    background-color: #04838F;
    color: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}



ngx-charts-pie-chart  .pie-label{
  font-size: 17px;
}
html, body { height: 100%; }
body { margin: auto;  font-family: Roboto, "Helvetica Neue", sans-serif; }
