<app-header
  [title]="'Medals per Country'"
  [infos]="infosHeaders"
></app-header>
<div class="body">
  <ngx-spinner *ngIf="dataChart?.length==0" [fullScreen]="true" type="ball-scale-multiple" size="medium" >Loading</ngx-spinner>

  <ngx-charts-pie-chart *ngIf="dataChart?.length!=0"
    [view]="view"
    [results]="dataChart"
    [gradient]="true"
    [legend]="false"
    [labels]="true"
    [trimLabels]="false"
    (select)="onSelect($event)"
    (window:resize)="onResize($event)"
  >

    <ng-template #tooltipTemplate let-model="model">
      <div class="container_medals">
        <span>{{model.name}}</span>
        <div class="section_medals">
          <span class="nb_medals">{{model.value}}</span>
        </div>
      </div>
    </ng-template>

  </ngx-charts-pie-chart>
</div>
