<div class="body">
  <ngx-charts-pie-chart
    [view]="[1000,400]"
    [results]="dataset"
    [gradient]="true"
    [legend]="false"
    [labels]="true"
    [trimLabels]="false"
    (select)="onSelect($event)"
  >

    <ng-template #tooltipTemplate let-model="model">
      <div class="container_medals">
        <span>{{model.name}}</span>
        <div class="section_medals">
          <span class="nb_medals">{{model.value}}</span>
        </div>
      </div>
    </ng-template>

  </ngx-charts-pie-chart>
</div>
