.body {
  display: flex;
  justify-content: center;
}

/*********** CSS for Ngx Charts **************/

::ng-deep .ngx-charts {
    text{
        font-size: 15px;
        white-space : wrap;
        display: flex!important;
        width: 300px;
    }
}

::ng-deep .pie-label {
    text{
       display: flex!important;
    }
}

 ::ng-deep .ngx-charts-tooltip-content.type-tooltip {
    background-color: #2D909F !important;
    color: white !important;
    .tooltip-caret.position-top {
        color: white !important;
        border-top: 7px solid #2D909F !important;
      }
  }

#logo_medal {
  width: 30px;
  vertical-align: middle;
}

.container_medals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    span {
      font-size: 1.3em;
    }
}

.section_medals {
  display: flex;
  justify-content: center;
}

.nb_medals {
  margin-top: auto;
  margin-bottom: auto;
}

/*********** END CSS for Ngx Charts **************/


