@import 'variables';

app-pie-chart {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    min-width: 0;
    min-height: 0;
}

.pie-label {
    font-size: clamp(16px, 2vw, 30px) !important;

}

.custom-tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .custom-tooltip-pointer {
        position: relative;
        width: 10px;
        height: 10px;
        background: $primary-color;
        border-top-right-radius: 50%;
        transform: rotate(120deg) skewX(-30deg) scale(1, .866);
        top: 8px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: inherit;
            height: inherit;
            border-top-right-radius: 0%;
            background: inherit;
            bottom: 0px;
            top: 0px;
            right: 0px;
            left: 0px;
        }

        &::before {
            transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translateY(-50%);

        }

        &::after {
            transform: rotate(-135deg) skewX(+45deg) scale(1.414, .707) translateY(-50%);

        }
    }
}


ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    .tooltip-caret {
        display: none;
    }

    background-color: $primary-color;
    padding: 5px 10px 5px 10px;
    line-height: 18px;
}

.chart-container {
    width: 100%;
    max-width: 600px; /* Ajustez cette valeur en fonction de vos besoins */
    margin: 0 auto; /* Pour centrer le conteneur si nécessaire */
  }
  
  @media (max-width: 768px) {
    .chart-container {
      max-width: 400px; /* Ajustez cette valeur pour les écrans plus petits */
    }
  }
  